<component name="ArtifactManager">
  <artifact type="war" name="mybatis-spring-boot-sample-war:war">
    <output-path>$PROJECT_DIR$/mybatis-spring-boot-starter/mybatis-spring-boot-samples/mybatis-spring-boot-sample-war/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <exploded>false</exploded>
        <module>mybatis-spring-boot-sample-war</module>
        <packaging>war</packaging>
        <unpackNestedArchives>false</unpackNestedArchives>
      </options>
    </properties>
    <root id="archive" name="mybatis-spring-boot-sample-war.war">
      <element id="artifact" artifact-name="mybatis-spring-boot-sample-war:war exploded" />
    </root>
  </artifact>
</component>